node_modules
.git
.env
vendor
composer.lock
storage/app/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
*.log
.DS_Store
Thumbs.db
tests
.github
.vscode
README.md
CHANGELOG.md
*.md
